@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
nav ul a {
    color: #fff;
    font-family: sans-serif;
    font-weight: 400;
    transition: ease-out 0.2s;
    padding: 5px 25px;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 4px;
}

nav ul a:hover {
    color: #f44336;
    transition: linear 0.75s;
}

nav {
    height: 85px;
}

nav .brand-logo {
    color: #fff;
}

.right-hide-on-med-and-down {
    padding: 150px;
}

ul li {
    list-style: none;
    text-align: center;
    line-height: 30px;
    margin: 10px 10px;
    transition: 1s;
}

ul li:hover {
    background-color: black;
    border-radius: 10%;
    transition: .75s;
    box-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 25px #fff;
}

.brand-logo img {
    width: 75px;
    height: 75px;
    margin: 5px;
}

.brand-logo:hover {
    filter: drop-shadow(0 -6mm 4mm crimson);
    transition: ease-in 0.75s;
}

.image img {
    width: 450px;
    height: 450px;
    /*  filter: drop-shadow(0.75rem 0.75rem 0.75rem #3f51b5);*/
}


/*.image img:hover {
    filter: drop-shadow(0.75rem 0.75rem 0.75rem #f44336);
    transition: ease-in-out 0.75s;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f1f3f8;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: linear-gradient(25deg, #000, #fff, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-size: 80%;
}

p {
    color: #fff;
    size: 24px;
    font-weight: 100;
    text-align: justify;
}

.container {
    width: 95%!important;
    margin-bottom: 6%!important;
}

.icons {
    width: 150px;
    height: 150px;
    margin-left: 25%;
}

.icons-left {
    width: 150px;
    height: 150px;
    margin-left: 30%;
}

.spacing {
    margin-bottom: 5%;
}

hr {
    height: 1px;
    font-weight: lighter;
}

.social img {
    margin: 10px;
    width: 25px;
    height: 25px;
}

.sidenav-overlay {
    background-color: rgba(0, 0, 0, 0);
}

@media only screen and (max-width:600px) {
    .image img {
        width: 350px;
        height: 350px;
        padding-top: 15px;
        margin-left: -15px;
    }
}


/*animation*/

.image img {
    animation-name: filter;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes filter {
    0% {
        filter: drop-shadow(0.75rem 0.75rem 0.75rem #a1887f);
    }
    25% {
        filter: drop-shadow(0.75rem 0.75rem 0.75rem #90a4ae);
    }
    50% {
        filter: drop-shadow(0.75rem 0.75rem 0.75rem #a1887f);
    }
    100% {
        filter: drop-shadow(0.75rem 0.75rem 0.75rem #90a4ae);
    }
}


/*h1 {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(25deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}


@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}*/