@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
nav ul a {
    color: #fff;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    transition: ease-out 0.2s;
    padding: 5px 25px;
}

nav ul a:hover {
    color: #fb8c00;
    transition: linear 0.5s;
}

nav {
    height: 85px;
}

nav .brand-logo {
    color: #fff;
}

.right-hide-on-med-and-down {
    padding: 150px;
}

ul li {
    list-style: none;
    text-align: center;
    line-height: 30px;
    margin: 10px 10px;
    transition: 1s;
}

ul li:hover {
    box-shadow: 0 0 5px #2ecc71;
    background-color: black;
    border-radius: 20%;
    transition: .75s;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.icons:hover {
    transform: scale(1.5);
    transition: transform .5s;
}

.icons-left:hover {
    transform: scale(1.5);
    transition: transform .5s;
}

.brand-logo img {
    width: 75px;
    height: 75px;
    margin: 5px;
}

.image img {
    width: 450px;
    height: 450px;
    filter: drop-shadow(0 0 0.75rem #42a5f5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

p {
    color: #fff;
    size: 24px;
    font-weight: 100;
    text-align: justify;
}

.container {
    width: 95%!important;
    margin-bottom: 6%!important;
}

.icons {
    width: 150px;
    height: 150px;
    margin-left: 25%;
}

.icons-left {
    width: 150px;
    height: 150px;
    margin-left: 30%;
}

.spacing {
    margin-bottom: 5%;
}

hr {
    height: 1px;
    font-weight: lighter;
}

.social img {
    margin: 10px;
    width: 25px;
    height: 25px;
}